Input is 4 discrete values and output is also discrete
Hence we are preoceeding with Chi square test

In [16]:
import pandas as pd
import scipy
import numpy
from scipy import stats

HN = Male and Female buyer ratios are same
HA = Male and Female buyer ratios are not equal

In [3]:
data = pd.read_csv("BuyerRatio.csv")

In [4]:
data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [13]:
obs = np.array([[50, 142, 131, 70], [435, 1523, 1356, 750]])
chi2, p, dof, expected = stats.chi2_contingency(obs)
print( p)

0.6603094907091882

Since p > 0.05 We fail to reject null hypothisis
Hence male-female buyer ratios are similar across regions