The problem is having 4 categories of data So we can go for Anova test
Null Hyp H0= mean  Lab1 = mean Lab2 = mean Lab3 = mean Lab4
Alternate Hyp Ha= Atleast one of them is different

In [ ]:
import pandas as pd
import scipy
import numpy as np
from scipy import stats

In [9]:
df = pd.read_csv("LabTAT.csv")

In [8]:
df

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [12]:
stats.f_oneway(df.iloc[:,0],df.iloc[:,1],df.iloc[:,2],df.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

Since p<0.05 we can reject null hypothisis. We can conclude there is a difference between any of the two categories of data